*{
	margin: 0px;
	padding: 0px;
}
body
{
	box-sizing: border-box;
}
/* -------Designer Scrollbar ----*/
body::-webkit-scrollbar
{
  width: 12px;
}
body::-webkit-scrollbar-track
{
  background-color: black;
}
body::-webkit-scrollbar-thumb
{
  background-color: #dc3545;
  cursor: pointer;
 }
 /* -----------navbar---------------- */
.navbar-brand:hover
{
	transform: perspective(500px) rotateX(360deg);
	transition: transform 1s ease-in;
}
.navbar-toggler-icon:hover
{
	transform: rotate(180deg) !important;
	transition: transform 0.5s ease-in;
}
.bg-black
{
		background-color: black;
		height: 60px;
}
.close_btn
{
	cursor: pointer;
	visibility: hidden;

}
.close_btn:hover,.fa-bars:hover
{
	color: white !important;
}
/* --------video banner CSS------------ */
 .banner
 {
 	width: 100%;
 	height: 35rem;
 	
 	padding-left: 0px !important;
 	padding-right: 0px !important;
 	z-index: 0;
 	position: relative;
 }
 .banner::before
 {
 	content: "INDUSTRIOUS";
 	position: absolute;
 	top: 0px;
 	bottom: 0px;
 	left: 0px;
 	right: 0px;
 	background: linear-gradient(90deg, rgba(247,56,57,0.5079166666666667) 0%, rgba(4,4,4,0.8071043417366946) 100%);
 	z-index: 1;
 	font-size:60px;
 	color: white;
 	text-align: center;
 	line-height:350px;
 }
 .banner video
 {
 	width: 100%;
 	height: 100%;
 	contain: size;
 	
 }
 .banner .inner
 {
 	position: absolute;
 	top: 230px;
 	width: 100%;
 	font-size: 1.5rem;
 	color: rgba(255,255,255,0.5);
 	z-index: 1;
}
 .sidenav
 {
 	top: 60px;
 	right: 0;
 	width: 270px;
 	bottom: 0;
 	position: fixed;
 	background-color: black;
 	z-index: 1;
 	padding: 10px 20px;
 	transition: 0.5s all;
 	transform: translateX(300px);
 }
 
 .nav-link
 {
 	padding: 15px 0px !important;
 }
 .nav-link:hover
 {
	color: white !important;
 }

 /* ---------------mid section----------- */
 #card_mid_bg_img
 {
 	height: auto;
 	z-index: 0;
 	position: relative;
 	padding: 120px 0px;

 }
 #card_mid_bg_img::before
 {
 	content: "";
 	filter: opacity(0.050);
 	top: 0;
 	bottom: 0;
 	left: 0;
 	right: 0;
 	position: absolute;
 	/* z-index: 1; */
 	background-color: white;
 	background-image: url('../imgs/bg.jpg');
 	background-position: center;
 	background-repeat: no-repeat;
 	background-attachment: fixed;

 }

 
 #card_mid_section
 {
	/* top: 0; */
	position: relative;
	/* left: 100px; */
	z-index: 1;
}
#card_mid_section h2,#card_mid_section p,#footer h5
{
	font-weight: 100;
	color: grey;
}
.card
{
	border: none !important;
	box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.025);
	transition: all 0.3s;	

}
.card:hover
{
	transform: translateY(-20px);
	transition: transform 0.3s ease-in;
	cursor: pointer;
}

.card-title
{
	font-weight: 100;
	color: grey;
	padding-top: 20px;
}

/* ----------parallax div----- */
.parallax_img
{
	background: url('../imgs/cta01.jpg') no-repeat center;
	background-size: cover;
	background-attachment: fixed;
	height: 370px;
	position: relative;
	z-index: 0;

}
.parallax_img::before
{
	content: "";
 	position: absolute;
 	top: 0px;
 	bottom: 0px;
 	left: 0px;
 	right: 0px;
 	background: linear-gradient(90deg, rgba(247,56,57,0.5079166666666667) 0%, rgba(4,4,4,0.8071043417366946) 100%);
 	z-index: 1;
 	
}
.parallax_img h2,.parallax_img p
{
	color: rgba(255,255,255,0.8);
	z-index: 2;
	position: relative;
	font-weight: 300;

}

/* ------------Testimonials--------- */
.testimonials_content::before
{
	content: "";
	top: 35px;
	bottom: 0;
	left: 30px;
	position: absolute;
	width: 8px;
	height: 160px;
	background-color: #d3d0d0;

}
.testimonials
{
	width: 100%;
	height: 70px;
}
.testimonial_pic
{
	height:65px;
	
	float: left;
	width: 30%;
}
.testimonial_name
{
	width: 70%;
	float: left;
	padding-top: 17px;
	
}

/* ---------footer------- */
#footer
{
	background-color:#111111;
	padding: 70px 0px;
}
.footer_icons .nav-link
{
	margin-bottom: -15px !important;
}
.footer_icons .nav-link:hover
{
	color: #ce1b28 !important;
}
.footer_icons i
{
	background-color: #080808;
	padding: 10px;
	color: white;
	margin-right: 15px;

}
.footer_icons i:hover
{
	color: #ce1b28 !important;
	transform: skew(20deg);
	transition: transform 1s ease-out;
}

/* ---------parallax img2--------- */
.parallax_img2
{
	background: url('../imgs/cta01.jpg') no-repeat center;
	background-size: cover;
	background-attachment: fixed;
	height: auto;
	position: relative;
	z-index: 0;
	padding: 30px 0px;

}
.parallax_img2::before
{
	content: "";
 	position: absolute;
 	top: 0px;
 	bottom: 0px;
 	left: 0px;
 	right: 0px;
 	background: linear-gradient(90deg, rgba(247,56,57,0.5079166666666667) 0%, rgba(4,4,4,0.8071043417366946) 100%);
 	z-index: 1;
 	
}
.parallax_img2 .container
{
	position: relative;
	z-index: 2;
}
.my_clip_div
{
	background-color: rgba(0,0,0,0.7);
	border-radius: 20px;
}
.my_clip_div img
{
	/* border-radius: 50%; */
	
clip-path: circle(50% at 50% 50%);
/* clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%); */
 	/* transition:  1s ease-in; */
}
.my_clip_div img:hover
{
	cursor: pointer;
	clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%);
	/* clip-path: inset(0 0 0 0); */
	/* border-radius: 0; */
	/* transition: border-radius 2s ease-out; */
}

